* {
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

a {
    text-decoration: none;
    font-size: 30px;
    color:rgb(29, 88, 17)
}


h1 {
   padding-left: 30px;
}

body {
    height: 100vh;
    overflow-y: auto;
    background-color: rgb(223, 255, 226);
}


header {
    position: fixed;
    background-color: rgb(7, 7, 50);
    color: white;
    width:100%;
    padding: 20px 50px;
    box-shadow: 10px 5px 5px rgb(71, 214, 42);
}

footer {
    background-color: rgb(8, 1, 32);
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  color: #fff;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    border-right: 3px solid black;
    padding: 0 20px;
}

h2 {
    background-color: rgb(224, 255, 204);
    box-shadow: 10px 5px 5px rgb(71, 214, 42);
    position: sticky;
    top: 0;
    padding-left: 10px;
   border-radius: 0 20px 20px   0;
}

.letter {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
    /* position: relative; */
}

.symbols {
    width: 600px;
    height: 600px;
    padding-right: 10px;
    overflow-y: auto;
   
}

.main {
    display: flex;
    padding-top: 100px;
    justify-content: center;
    gap: 30px;
}

.dots {
    width: 100%;
    border-bottom: 1px dashed black;
}

.person-symbol {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}